<% include ./partials/header.ejs %>
<div class="card flex">
  <div class="upper padded" style="background-image: url('<%= image %>')">
    <h1>
      <span class="highlight"><%= clue %></span>
    </h1>
    <p>
      <span class="highlight"><%= question %></span>
    </p>
  </div>
  <div class="lower padded">
    <form method="post">
      <div class="field-group">
        <div class="field">
          <input class="text-input" type="text" name="answer" placeholder="Your answer..." />
        </div>
        <div>
          <button class="button" type="submit">Go</button>
        </div>
      </div>
    </form>
  </div>
</div>
<% include ./partials/footer.ejs %>
